{# empty Twig template #}

Détail frais ! <3

<html>
    <head>
        {% stylesheets '@FraisBundle/Resources/public/css/*' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %} 
    </head>
    {{ include("FraisBundle:Template:VisiteurConnectedMenu.html.twig") }}

    <div class="container">
        {#{% if lesFiches is defined%}
            {% for fiche in lesFiches %}
                {{ fiche.nbJustificatifs }}
            {% endfor %}
        {%endif%}#}
        <h3>
            Informations de la fiche de frais en cours
            <h3>
                <table  class="table-bordered" >

                    {% if fiche is defined%}
                        {# {% for fiche in ficheFrais %}#}

                        <tr>
                            <th>Identifiant</th>
                            <td>{{ fiche.id }}</td>
                        </tr>
                        <tr>

                        <tr>
                            <th>Nom </th>
                            <td>{{ fiche.idvisiteur.nom }}</td>
                        </tr>
                        <tr>
                            <th>Prénom </th>
                            <td>{{ fiche.idvisiteur.prenom }}</td>
                        </tr>

                        <tr>     
                            <th>Date </th>
                            <td>{{ fiche.date | date('d/m/Y')}}</td>
                        <tr>

                            <th>Etat </th>
                            <td>{{ fiche.idEtat.libelle }}</td>
                        </tr>

                        <tr>
                            <th>Date de modif </th>
                            <td>{{ fiche.datemodif | date('d/m/Y')}}</td>

                        </tr>
                        {%if etat is defined%}
                            {%if etat == 'CL'%}

                                <form action="{{ path('misePaiement') }}" method="post">
                                    <input type="submit" class="btn btn-lg btn-inverse" value="Mise en Paiement" style="margin:20px"/> 
                                    <input type="hidden" name="idFiche" value="{{fiche.id}}"/>
                                </form>
                            {%endif%}
                        {%endif%}

                    {%endif%}
                </table>
                <br>

                <h3>
                    Frais Forfaitisés
                    <h3>
                        <table  class="table-bordered" >

                            <thead>
                            <th> Libellé</th>
                            <th> Montant</th>
                            <th> Quantité </th>
                            <th> Total </th>

                            </thead>

                            {% set total = 0 %}
                            {%if fraisForfait is defined%}
                                {% for unFraisForfait in fraisForfait  %}
                                    <tr>
                                        <td>{{unFraisForfait.idfraisforfait.libelle}}</td>
                                        <td>{{unFraisForfait.idfraisforfait.montant}} €</td>
                                        <td>{{unFraisForfait.quantite}}</td>
                                        <td>{{unFraisForfait.quantite * unFraisForfait.idfraisforfait.montant}} €</td>
                                        {% set total = unFraisForfait.quantite * unFraisForfait.idfraisforfait.montant + total %}         
                                    </tr>          
                                {%endfor%}  
                            {%endif%}





                        </table>

                        <h5>  Les frais forfaitisés s'élèvent à :  {{total}} € <h5>



                                <h3>
                                    Frais Non Forfaitisés
                                    <h3>
                                        <table  class="table-bordered" >

                                            <thead>
                                            <th> Libellé</th>
                                            <th> Montant</th>                              
                                            <th> Date </th>

                                            </thead>

                                            {% set total = 0 %}
                                            {%if fraisHorsForfait is defined%}
                                                {% for unFraisHorsForfait  in fraisHorsForfait %}
                                                    <tr>
                                                        <td>{{unFraisHorsForfait.libelle}}</td>
                                                        <td>{{unFraisHorsForfait.montant}} €</td>
                                                        <td>{{unFraisHorsForfait.date | date('d/m/Y') }}</td>

                                                        {% set total = unFraisHorsForfait.montant + total %}         
                                                    </tr>          
                                                {%endfor%} 
                                            {%endif%}

                                            </div>

                                        </table>

                                        <h5>  Les frais non forfaitisés s'élèvent à :  {{total}} € <h5>


